.header-ctr {
  padding: 16px;

  display: flex;
  align-items: center;
  justify-content: space-between;

  .nav-ctr {
    display: flex;
    justify-content: space-around;
    padding: 0 16px;
    gap: 25px;

    .nav-link {
      cursor: pointer;
      transition: 0.5s ease-in all;

      &:hover {
        color: var(--primary);
      }

      &:active {
        transform: translateY(-2px);
      }
    }
  }
}

@media (max-width: 500px) {
  .header-ctr {
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
  }
}
