---
import Layout from "../layouts/Layout.astro";
import SkillsComponent from "../components/Skills.astro";
import Header from "../components/Header.astro";
---

<Layout title="Skills Map | Pavittarx">
  <Header alwaysVisible={true} />
  <div class="pt-20">
    <SkillsComponent />
  </div>
</Layout>
