.header-container {
  background: #fff;
  border-bottom: 1px solid #a9a9a95c;
  padding: 5px 10px;

  .header-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 400px;
    border-radius: 20px;

  }

  @media (max-width: 700px) {
    .header-bar {
      padding-right: 15px;
      width: 100%;
    }
  }
}
