/* Colors for the Site */

:root {
  --dark: #222222;
  --text: #ffffffeb;
}

/* Global Defaults */

body {
  margin: 0;
  padding: 0;
  background: var(--dark);
  color: var(--text);

  font-family: 'Rosario', sans-serif;
  
}

* {
  box-sizing: border-box;
}

a {
  background: linear-gradient(to right, #330867, #2575fc), #161a42;
  background-clip: text;
  -webkit-background-clip: text;
  text-decoration: none;
}

/* Global Classes */

.para{
  margin: 16px 0;
  padding: 8px 0;
}