/* 
 * Base CSS file fot global styles ...
*/

body {
  margin: 0;
  font-family: "Rosario", "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

* {
  box-sizing: border-box;
}

:root {
  --primary: #330867 ;
  --secondary: #2575fc;
}

.gradient-text {
  background: linear-gradient(to right, #330867, #2575fc);
  background-clip: text;
  color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
