.about-main-ctr {
  padding: 2rem 1.5rem;
  color: var(--text);

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  .image-ctr {
    .image {
      width: 200;
      height: 200;
      border-radius: 50%;
      object-fit: cover;
    }
  }

  h1{
    justify-items: center;
  }

  .about-ctr{
    margin-block: 1.5rem;

    max-width: 60vw;
    align-self: left;
  }
}
