.main-ctr {
  padding: 32px;
  color: var(--text);
  user-select: none;

  display: flex;

  .left-ctr,
  .right-ctr {
    flex: 1;
  }

  .left-ctr {
    padding-top: 1rem;
  }

  .top-ctr {
    .heading {
      font-size: 3rem;
      margin-bottom: 1rem;
    }
    .text {
      font-size: 1.25rem;
      max-width: 32rem;
      line-height: 1.85rem;
    }

    .social-icons-ctr {
      margin-block: 1.5rem;

      display: flex;
      justify-content: flex-start;
      align-items: center;

      gap: 1rem;

      .social-icon {
        cursor: pointer;

        .icon {
          padding: 0.8rem;
          // border: 0.5px solid var(--border);
          border-radius: 0.3rem;

          &:hover {
            box-shadow: 1px 1px 10px -3px rgba(0, 0, 0, 0.35);
          }

          &:active {
            box-shadow: inset 1px 1px 10px -7px rgba(0, 0, 0, 0.25);
          }
        }

        .icon-text-ctr {
          padding-inline: 0.5rem;
        }

        display: flex;
        align-items: center;
      }
    }

    .skills-ctr {
      display: flex;
      flex-wrap: wrap;
      justify-items: space-evenly;

      .skill-item {
        display: flex;
        align-items: center;

        gap: 0.5rem;
        margin: 0.35rem;

        // border: 1px solid #ccc;
        // border-radius: 10rem;
        padding: 0.5rem 0.8rem;

        .icon {
          min-width: 1.8rem;
          max-width: 2rem;
          text-align: center;
        }
      }
    }
  }
}

.blog-box {
  padding: 1.25rem 1.5rem;
  // border: 1px solid #ccc;
  border-radius: 0.5rem;
  margin: 1rem;
  color: var(--text);

  cursor: pointer;

  &:hover {
    box-shadow: 1px 1px 10px -3px rgba(0, 0, 0, 0.35);
  }

  &:active {
    box-shadow: inset 1px 1px 10px -3px rgba(0, 0, 0, 0.35);
  }
}

.skills-block {
  margin-top: 4rem;
  margin-bottom: 3.5rem;
}

@media (max-width: 700px) {
  .main-ctr {
    flex-direction: column;
    gap: 2rem;
  }
}
